*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerImage{
  display: flex;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(173, 171, 171);
}

.containerImage img{
  width: 30%;
}

.containerImage p{
  padding: 28px;
  width: 70%;
}
